<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Title -->

   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
   <meta charset="UTF-8">
   <meta name="description" content="Responsive Admin Dashboard Template" />
   <meta name="keywords" content="admin,dashboard" />
   <meta name="author" content="Steelcoders" />

   <!-- Styles -->
   <link type="text/css" rel="stylesheet" href="plugins/materialize/css/materialize.css"/>
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="plugins/material-preloader/css/materialPreloader.min.css" rel="stylesheet">        


   <!-- Theme Styles -->
   <link href="css/alpha.min.css" rel="stylesheet" type="text/css"/>
   <link href="css/custom.css" rel="stylesheet" type="text/css"/>

   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <div class="loader-bg"></div>
      <div class="loader">
         <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
               <div class="circle-clipper left">
                  <div class="circle"></div>
               </div>
               <div class="gap-patch">
                  <div class="circle"></div>
               </div>
               <div class="circle-clipper right">
                  <div class="circle"></div>
               </div>
            </div>
            <div class="spinner-layer spinner-spinner-teal lighten-1">
               <div class="circle-clipper left">
                  <div class="circle"></div>
               </div>
               <div class="gap-patch">
                  <div class="circle"></div>
               </div>
               <div class="circle-clipper right">
                  <div class="circle"></div>
               </div>
            </div>
            <div class="spinner-layer spinner-yellow">
               <div class="circle-clipper left">
                  <div class="circle"></div>
               </div>
               <div class="gap-patch">
                  <div class="circle"></div>
               </div>
               <div class="circle-clipper right">
                  <div class="circle"></div>
               </div>
            </div>
            <div class="spinner-layer spinner-green">
               <div class="circle-clipper left">
                  <div class="circle"></div>
               </div>
               <div class="gap-patch">
                  <div class="circle"></div>
               </div>
               <div class="circle-clipper right">
                  <div class="circle"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="mn-content fixed-sidebar">
         <header class="mn-header navbar-fixed">
            <nav class="cyan darken-1">
               <div class="nav-wrapper row">
                  <section class="material-design-hamburger navigation-toggle">
                     <a href="#" data-activates="slide-out" class="button-collapse show-on-large material-design-hamburger__icon">
                        <span class="material-design-hamburger__layer"></span>
                     </a>
                  </section>
                  <div class="header-title col s3">      
                     <span class="chapter-title">Ibu Hotel</span>
                  </div>
                  
                  <ul class="right col s9 m3 nav-right-menu">
                     <li><a href="javascript:void(0)" data-activates="chat-sidebar" class="chat-button show-on-large"><i class="material-icons">more_vert</i></a></li>
                     <li class="hide-on-small-and-down"><a href="javascript:void(0)" data-activates="dropdown1" class="dropdown-button dropdown-right show-on-large"><i class="material-icons">notifications_none</i><span class="badge">7</span></a></li>
                     <li class="hide-on-med-and-up"><a href="javascript:void(0)" class="search-toggle"><i class="material-icons">search</i></a></li>
                  </ul>
                  <ul id="dropdown1" class="dropdown-content notifications-dropdown">

                  {% block notification %} {% endblock %}


                  </ul>
               </div>
            </nav>
         </header>
         <!--
         <div class="search-results" >
            <div class="container search-container">
               <div class="row">
                  <div class="col s12 search-head">
                     <div class="row">
                        <div class="col s12">
                           <div class="left">
                              <p class="search-results-title">Quick search results</p>
                              <p class="search-filter left">
                                 <input type="checkbox" class="filled-in" id="filled-in-box" checked/>
                                 <label for="filled-in-box">Google search</label>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="res-not-found">No results found</div>
                  </div>
                  <div class="col s12 m4 search-result-container">
                     <div class="card card-transparent">
                        <div class="row valign-wrapper">
                           <div class="col s3">
                              <img src="images/profile-image-1.png" alt="" class="circle responsive-img z-depth-1">
                           </div>
                           <div class="col s9">
                              <span class="search-result-text">
                                 Search <span class="search-text search-result-highlight"></span><br><span class="secondary-search-text">Last active 2 days ago</span>
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="card card-transparent">
                        <div class="row valign-wrapper">
                           <div class="col s3">
                              <img src="images/profile-image-3.jpg" alt="" class="circle responsive-img z-depth-1">
                           </div>
                           <div class="col s9">
                              <span class="search-result-text">
                                 News about <span class="search-text search-result-highlight"></span><br><span class="secondary-search-text">23 Blogs</span>
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="card card-transparent">
                        <div class="row valign-wrapper">
                           <div class="col s3">
                              <img src="images/profile-image.png" alt="" class="circle responsive-img z-depth-1">
                           </div>
                           <div class="col s9">
                              <span class="search-result-text">
                                 Tom King (Works at <span class="search-text search-result-highlight"></span>)<br><span class="secondary-search-text">Avaible for freelance work</span>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col s12 m4 search-result-container">
                     <div class="card card-transparent ">
                        <div class="row valign-wrapper">
                           <div class="col s3">
                              <span class="z-depth-1 circle search-circle indigo lighten-1">F</span>
                           </div>
                           <div class="col s9">
                              <span class="search-result-text">
                                 <span class="search-text search-result-highlight"></span> on Facebook<br><span class="secondary-search-text"><a href="#">View website</a></span>
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="card card-transparent">
                        <div class="row valign-wrapper">
                           <div class="col s3">
                              <span class="z-depth-1 circle search-circle light-blue lighten-1">T</span>
                           </div>
                           <div class="col s9">
                              <span class="search-result-text">
                                 <span class="search-text search-result-highlight"></span> on Twitter<br><span class="secondary-search-text"><a href="#">View website</a></span>
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="card card-transparent">
                        <div class="row valign-wrapper">
                           <div class="col s3">
                              <span class="z-depth-1 circle search-circle red darken-1">G</span>
                           </div>
                           <div class="col s9">
                              <span class="search-result-text">
                                 Google+ <span class="search-text search-result-highlight"></span><br><span class="secondary-search-text"><a href="#">View website</a></span>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col s12 m4 search-result-container">
                     <div class="card card-transparent">
                        <div class="card-content first">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sunt in culpa qui<span class="search-text search-result-highlight"></span> quis.</p>
                        </div>
                        <div class="card-action">
                           <span class="grey-text">Yesterday, 4:56 PM</span>
                        </div>
                     </div>
                     <div class="card card-transparent">
                        <div class="card-content">
                           <p>Sunt in culpa qui <span class="search-text search-result-highlight"></span> officia deserunt mollit anim id est laborum. officia deserunt mollit anim id est laborum officia deserunt mollit anim</p>
                        </div>
                        <div class="card-action">
                           <span class="grey-text">27 January 2016</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>-->
         <aside id="chat-sidebar" class="side-nav white">
            {% block chat_sidebar %} {% endblock %}
         </aside>
         <aside id="chat-messages" class="side-nav white">
            <p class="sidebar-chat-name">Tom Simpson<a href="#" data-activates="chat-messages" class="chat-message-link"><i class="material-icons">keyboard_arrow_right</i></a></p>
            <div class="messages-container">
               <div class="message-wrapper them">
                  <div class="circle-wrapper"><img src="images/profile-image-1.png" class="circle" alt=""></div>
                  <div class="text-wrapper">Lorem Ipsum</div>
               </div>
               <div class="message-wrapper me">
                  <div class="circle-wrapper"><img src="images/profile-image-3.jpg" class="circle" alt=""></div>
                  <div class="text-wrapper">Integer in faucibus diam?</div>
               </div>
               <div class="message-wrapper them">
                  <div class="circle-wrapper"><img src="images/profile-image-1.png" class="circle" alt=""></div>
                  <div class="text-wrapper">Vivamus quis neque volutpat, hendrerit justo vitae, suscipit dui</div>
               </div>
               <div class="message-wrapper me">
                  <div class="circle-wrapper"><img src="images/profile-image-3.jpg" class="circle" alt=""></div>
                  <div class="text-wrapper">Suspendisse condimentum tortor et lorem pretium</div>
               </div>
               <div class="message-wrapper them">
                  <div class="circle-wrapper"><img src="images/profile-image-1.png" class="circle" alt=""></div>
                  <div class="text-wrapper">dolore eu fugiat nulla pariatur</div>
               </div>
               <div class="message-wrapper me">
                  <div class="circle-wrapper"><img src="images/profile-image-3.jpg" class="circle" alt=""></div>
                  <div class="text-wrapper">Duis maximus leo eget massa porta</div>
               </div>
            </div>
            <div class="message-compose-box">
               <div class="input-field">
                  <input placeholder="Write message" id="message_compose" type="text">
               </div>
            </div>
         </aside>
         <aside id="slide-out" class="side-nav white fixed">
            {% block menu_lateral %} {% endblock %}
         </aside>
         <main class="mn-inner">
            <div class="row">
               <div class="col s12">
                  <div class="page-title">
                     {% block body %} {% endblock %}
                  </div>
               </div>
            </div>
         </main>
      </div>
      <div class="left-sidebar-hover"></div>
      <!-- Javascripts -->
      <script src="plugins/jquery/jquery-2.2.0.min.js"></script>
      <script src="plugins/doT/doT.min.js"></script>
      <script src="plugins/materialize/js/materialize.js"></script>
      <script src="plugins/material-preloader/js/materialPreloader.min.js"></script>
      <script src="plugins/jquery-blockui/jquery.blockui.js"></script>
      <script src="js/alpha.js"></script>
      {% block javascript %} 

      {% endblock %}
   </body>
   </html>