            <div class="side-nav-wrapper">
               <div class="sidebar-profile">
                  <div class="sidebar-profile-image">
                     <img id="avatar__" src="images/profile-image.png" class="circle" alt="">
                  </div>
                  <div class="sidebar-profile-info">
                     <a href="javascript:void(0);" class="account-settings-link">
                        <p id="name__"></p>
                        <span id="email__"><i class="material-icons right">arrow_drop_down</i></span>
                     </a>
                  </div>
               </div>
               
               <div class="sidebar-account-settings">
                  <ul>
                     <li class="no-padding">
                        <a class="waves-effect waves-grey"><i class="material-icons">history</i>History<span class="new grey lighten-1 badge">3 new</span></a>
                     </li>
                     <li class="divider"></li>
                     <li class="no-padding">
                        <a class="waves-effect waves-grey"><i class="material-icons">exit_to_app</i>Sign Out</a>
                     </li>
                  </ul>
               </div>



               <ul id="menu" class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">
                 

                  


               </ul>





               <div class="footer">
                  <p class="copyright">Steelcoders ©</p>
                  <a href="#!">Privacy</a> &amp; <a href="#!">Terms</a>
               </div>
            </div>