{% extends "template/sign-in-template.html" %}

{% block body %}
<main class="mn-inner container">
	<div class="valign">
		<div class="row">
			<div class="col s12 m6 l4 offset-l4 offset-m3">
				<div class="card white darken-1">
					<div class="card-content ">
						<span class="card-title">Sign In</span>
						<div class="row">
							<form class="col s12" id="formData">
								<div id="formSecurity"></div>
								<div class="input-field col s12">
									<input name="email" id="email" type="email" class="validate">
									<label for="email">Email</label>
								</div>
								<div class="input-field col s12">
									<input name="password" id="password" type="password" class="validate">
									<label for="password">Password</label>
								</div>
								<div class="col s12 right-align m-t-sm">
									<a href="sign-up.html" class="waves-effect waves-grey btn-flat">sign up</a>
									<a href="#" onclick="login()"  class="waves-effect waves-light btn teal">sign in</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main> 



{% endblock %}


{% block javascript %} 
<script>


	$(document).ready(function() {

	});


	var users = sessionStorage.getItem("user");
	//console.log(JSON.parse(users));


	function login() {

		$.ajax({
			method: "POST",
			url: "http://qreatech.com/ws/API/user.php/login",
			data: $("#formData").serialize(),
			datatype: 'json'
		})
		.done(function(e) {


			if(e!=='error'){

				console.log(e);
		

				var data = JSON.parse(e);
				sessionStorage.setItem("user", JSON.stringify(data[0]));

				$("#formData").attr('method','POST');
				$("#formSecurity" ).append( "<input name='pase' id='pase' type='hidden' >");
				$("#pase").attr('value',data[0].remember_token);
				$("#formData").submit();

			}else{
				Materialize.toast(' Error en el Ingreso ', 4000);
			}
		});
	}
</script>

{% endblock %}